@-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }  @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }           @viewport { user-zoom: fixed ; min-zoom: 100% ; }

#log{
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

/*-------------------------------LOGIN--------------------------------*/

.login-content .btnEntrar{
    margin-top: 50px;
}

.login-content .imgLogo img{
    max-width: 960px;
}

.imgLogo{
    border: none;
}
